.content {
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  h2 {
    font-size: 1.5em;
    margin: 0.75em 0;
  }

  h3 {
    font-size: 1.17em;
    margin: 0.83em 0;
  }

  h4,
  p,
  blockquote,
  hr,
  ul,
  ol,
  dl,
  dir {
    @apply text-base;
    margin: 1.12em 0;
  }

  h5 {
    font-size: 0.83em;
    margin: 1.5em 0;
  }

  h6 {
    font-size: 0.75em;
    margin: 1.67em 0;
  }

  p {
    @apply text-neutral-800 leading-6;
  }

  a {
    @apply text-red-500 underline;
  }

  ul,
  ol,
  dl,
  dir {
    @apply pl-10 list-disc text-neutral-700;
  }

  li {
    margin-top: 5px;
  }

  & > *:first-child,
  li > ul:first-of-type {
    margin-top: 0;
  }

  & > *:last-child,
  li > ul:last-of-type {
    margin-bottom: 0;
  }
}
