<section class="container pt-16 pb-24">
  <div class="text-center mb-12">
    <div class="heading mb-12">
      <h1>{{ page.servicesTitle }}</h1>
      <hr>
    </div>

    <p class="lg:w-4/5 mx-auto">
      {{ page.servicesDesc | markdownify | remove: '<p>' | remove: '</p>' }}
    </p>
  </div>

  {% include categories.liquid %}

  <div class="text-center mt-16">
    <div class="button">
      <a href="{{ page.servicesHref | relative_url }}">{{ page.servicesLink }}</a>
    </div>
  </div>
</section>
