---
layout: default
---
<div class="flex flex-col min-h-screen">
  {% include header/index.liquid %}

  {% include home/hero.liquid %}

  {% include home/hero-services.liquid %}
</div>

<main>
  {% include home/categories.liquid %}

  {% include home/services.liquid %}

  {% include home/partners-and-opinions.liquid %}
</main>
