---
layout: default
---
<section class="container flex flex-col gap-12 pt-16 pb-24">
  <div class="text-center lg:w-4/5 mx-auto">
    <div class="heading">
      <h1>{{ page.subtitle }}</h1>
      <hr>
    </div>
  </div>

  <div class="content lg:w-4/5 mx-auto">{{ content }}</div>

  {% if layout.include %}
    {% include {{ layout.include }} %}
  {% endif %}
</section>
