@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-extra-light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-semi-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-extra-bold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    local('Open Sans'),
    url('fonts/poppins/poppins-black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
