<div class="sm:container">
  <hr class="border-0">
  <div
    class="sm:h-28 py-6 sm:py-0 px-8 sm:-mt-14 flex flex-col sm:flex-row items-center justify-between gap-6 bg-red-500 bg-no-repeat bg-cover"
    style="background-image: url('{{ "assets/img/bg/cta-bg.jpg" | relative_url }}')"
  >
    <h3 class="text-white text-lg text-center font-semibold tracking-wider">
      {{ site.data.info.footerCtaTitle }}
    </h3>

    <div class="button">
      <a href="{{ site.data.info.footerCtaHref | relative_url }}">
        {{ site.data.info.footerCtaText }}
      </a>
    </div>
  </div>
</div>
