{% if page.categoryFilter %}
  {% assign categories = site.categories | where_exp: 'category', 'page.categoryFilter contains category.slug' %}
{% else %}
  {% assign categories = site.categories %}
{% endif %}

{% assign categories = categories | sort: 'order' %}

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
  {% for category in categories %}
    <article class="flex flex-col">
      <a href="{{ category.url | relative_url }}">
        <div class="h-52">
          {% assign image = category.url | split: '.' | pop | join: '.' %}

          {% include image.liquid src=image %}
        </div>

        <h2 class="p-4 text-center text-white font-semibold tracking-wide duration-200 bg-red-500 hover:bg-gray-750">
          {{ category.title }}
        </h2>
      </a>

      <div class="flex flex-col flex-1 bg-neutral-100 border-solid border-1 border-gray-200">
        <p class="flex-1 p-6 mb-10 text-zinc-500">
          {{ category.content | remove: '<p>' | remove: '</p>' | truncatewords: 20 }}
        </p>

        <div class="text-right">
          <div class="arrow">
            <a href="{{ category.url | relative_url }}">Realizacje</a>
          </div>
        </div>
      </div>
    </article>
  {% endfor %}
</div>
