{% assign files = include.files %}
{% assign resolution = include.resolution | default: '200x200' %}
{% assign loading = include.loading | default: 'lazy' %}
{% assign imageClass = include.imageClass | default: 'w-24 sm:w-48 size-full object-cover' %}
{% assign galleryClass = include.galleryClass | default: 'flex flex-wrap justify-center gap-4 sm:gap-10 py-8' %}

{% unless files.size == 0 %}
  <div class="{{ galleryClass }}">
    {% for file in files %}
      <a href="{{ file | append: ".jpg" | relative_url }}">
        {% include image.liquid src=file resolution=resolution loading=loading class=imageClass %}
      </a>
    {% endfor %}
  </div>
{% endunless %}
